<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<config>
        Do not do this, otherwise the "Getting of the Nugets on the build machine has to be done fresh "EVERY Time"
        <add key="globalPackagesFolder" value=".nuget" />
        if the OS Drive Cache get too big then use
        dotnet nuget locals all -c
    </config>-->
    <config>
        <add key="repositoryPath" value="packages" /> <!--only applies to the packages.config format-->
        <add key="globalPackagesFolder" value="../nuget" />
    </config>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>
